[submodule "external/wRATter"]
	path = external/wRATter
	url = git@github.com:P3tru/wRATter.git
	branch = main
[submodule "external/Argz"]
	path = external/Argz
	url = git@github.com:P3tru/Argz.git
    branch = main
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
