[submodule "external/wRATter"]
	path = external/wRATter
	url = git@github.com:P3tru/wRATter.git
	branch = main
[submodule "external/Argz"]
	path = external/Argz
	url = git@github.com:P3tru/Argz.git
    branch = main
[submodule "external/nlopt"]
	path = external/nlopt
	url = https://github.com/stevengj/nlopt.git
	branch = tags/v2.7.1
[submodule "external/range-v3"]
	path = external/range-v3
	url = https://github.com/ericniebler/range-v3.git
	branch = tags/0.12.0
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
